
<div id='header' style="margin-top: 90px;" >
  <div class="swagger-ui-wrap" style="float: none;">
    <form id='api_selector'>
      <div class='input'><input placeholder="/api/v2/swagger_doc.json" id="input_baseUrl" name="baseUrl" type="text"/></div>
      <div class='input'><input placeholder="api_key" id="input_apiKey" name="apiKey" type="text"/></div>
      <div class='input'><a id="explore" class="btn2" href="#">Explore</a></div>
    </form>
  </div>
</div>
<br/>

<div class="heading">
  <br/>
  <p>
    Use our <strong>API</strong> (<em>Application Programming Interface</em>) to write Add-ons, mobile applications, desktop applications, gadgets or widgets.
  </p>
  <p>
    You can find your API-key from the input field on a top-right corner,
    next to the <em>`Explore`</em> button. <br/>

    An API key is visible only for authorized user. If you're logged in and api-key is still missing then goto the your <a href="/settings/api">settings page</a> and generate a new one.

  </p>
  <p>
    Here are some projects who are using our API already:
    <ul style="padding-left: 30px;">
      <li class="api_module_item" >
        <a href="https://github.com/versioneye/versioneye_maven_plugin">Maven Plugin</a>:
        The VersionEye Maven Plugin resolves dependencies locally and can create/update a
        VersionEye project via the API. This is especially useful for bigger projects
        with parent poms and reactor builds.
      </li>
      <li class="api_module_item" >
        <a href="https://github.com/stempler/gradle-versioneye-plugin">Gradle Plugin</a>:
        Just like the Maven Plugin, but for Gradle. Written by <a href="https://github.com/stempler">Simon Templer</a>.
      </li>
      <li class="api_module_item" >
        <a href="http://digitalkaoz.github.io/versioneye-php/">VersionEye-PHP</a>:
        A PHP wrapper around the VersionEye API, written by <a href="https://twitter.com/digitalkaoz">Robert Schönthal</a>.
      </li>
      <li class="api_module_item" >
        <a href="https://github.com/mattsches/VersionEyeBundle">VersionEyeBundle</a>:
        For the Symfonyprofiler, written by <a href="https://twitter.com/mattsches">Matthias Gutjahr</a>.
      </li>
      <li class="api_module_item" >
        <a href="https://github.com/ocramius/VersionEyeModule">VersionEyeModule</a>:
        Integration module for ZF2 by <a href="https://twitter.com/Ocramius">Marco Pivetta</a>.
      </li>
      <li class="api_module_item" >
        <a href="https://github.com/versioneye/veye">Commandline tool</a>:
        Ruby commandline tool to interarct with the API. Developed by <a href="https://twitter.com/timgluz">Timo Sulg</a>.
      </li>
      <li class="api_module_item" >
        <a href="https://github.com/heyupdate/versioneye-slack">VersionEye-Slack</a>: VersionEye integration for <a href="https://slack.com/">Slack</a> by <a href="https://twitter.com/tompedals">Tom Graham</a>.
      </li>
    </ul>
    </br>
    Do you have a cool project you want to see on this page? Contact us on <a href="https://twitter.com/VersionEye">Twitter</a>.
  </p>
</div>

<div id="message-bar" class="swagger-ui-wrap">
    &nbsp;
</div>

<div id="swagger-ui-container" class="swagger-ui-wrap">

</div>

<script src="/api/swagger_js/lib/jquery-1.8.0.min.js" type="text/javascript"></script>
<script src="/api/swagger_js/lib/jquery.slideto.min.js" type="text/javascript"></script>
<script src="/api/swagger_js/lib/jquery.wiggle.min.js" type="text/javascript"></script>
<script src="/api/swagger_js/lib/jquery.ba-bbq.min.js" type="text/javascript"></script>
<script src="/api/swagger_js/lib/underscore-min.js" type="text/javascript"></script>
<script src="/api/swagger_js/lib/handlebars-1.0.rc.1.js" type="text/javascript"></script>
<script src="/api/swagger_js/lib/backbone-min.js" type="text/javascript"></script>
<script src="/api/swagger_js/lib/highlight.7.3.pack.js" type="text/javascript"></script>
<script src="/api/swagger_js/lib/swagger.js" type="text/javascript"></script>
<script src="/api/swagger_js/swagger-ui.js" type="text/javascript"></script>

<script type="text/javascript">
    jQuery(function () {
        window.swaggerUi = new SwaggerUi({
          discoveryUrl: "<%= @api_url %>/swagger_doc.json",
            apiKey:"<%= @api_key %>",
            dom_id:"swagger-ui-container",
            supportHeaderParams: false,
            debug: false,
            supportedSubmitMethods: ['get', 'post', 'put', 'delete'],
            docExpansion: "list",
            onComplete: function(swaggerApi, swaggerUi){
              if(console) {
                    console.log("Loaded SwaggerUI")
              }
              $('pre code').each(function(i, e) {hljs.highlightBlock(e)});
            },
            onFailure: function(data) {
                if(console) {
                    console.log("Unable to Load SwaggerUI");
                    console.log(data);
                }
            }
        });

        window.swaggerUi.load();
    });
    $ == jQuery;
</script>
