


<section class="swagger-section">
  <div id='header'>
    <div class="swagger-ui-wrap">
      <a id="logo" href="#"><img class="logo__img" alt="swagger" height="30" width="30" src="/assets/logo_small.png" />
        <span class="logo__title">VersionEye</span>
      </a>
      <form id='api_selector'>
        <div class='input'><input placeholder="<%= @api_url %>/swagger_doc.json" id="input_baseUrl" name="baseUrl" type="text"/></div>
        <div id='auth_container'>
          <input id="input_apiKey" type="text" name="apiKey" value="<%= @api_key %>"/>
        </div>
        <div class='input'><a id="explore" class="header__btn" href="#" data-sw-translate>Explore</a></div>
      </form>
    </div>
  </div>

  <div id="message-bar" class="swagger-ui-wrap" data-sw-translate="">&nbsp;</div>
  <div id="swagger-ui-container" class="swagger-ui-wrap"></div>
</section>



<script type="text/javascript">
    $(function(){
      var apiKey = "<%= @api_key %>";
      var authClient = new window.SwaggerClient.ApiKeyAuthorization("api_key", apiKey, "query");

      var url = window.location.search.match(/url=([^&]+)/);

      if (url && url.length > 1) {
        url = decodeURIComponent(url[1]);
      } else {
        url = "<%= @api_url %>/swagger_doc.json";
      }

      hljs.configure({
        highlightSizeThreshold: 5000
      });

      // Pre load translate...
      if(window.SwaggerTranslator) {
        window.SwaggerTranslator.translate();
      }
      window.swaggerUi = new SwaggerUi({
        url: url,
        dom_id: "swagger-ui-container",
        supportedSubmitMethods: ['get', 'post', 'put', 'delete', 'patch'],
        authorizations: {key: authClient},
        onComplete: function(swaggerApi, swaggerUi){
          if(window.SwaggerTranslator) {
            window.SwaggerTranslator.translate();
          }
        },
        onFailure: function(data) {
          log("Unable to Load SwaggerUI");
        },
        docExpansion: "list",
        jsonEditor: false,
        defaultModelRendering: 'schema',
        showRequestHeaders: false
      });

      window.swaggerUi.load();

      function log() {
        if ('console' in window) {
          console.log.apply(console, arguments);
        }
      }

      //window.swaggerUi.api.clientAuthorizations.add("key", new window.SwaggerClient.ApiKeyAuthorization("Authorization", apiKey, "header"));
    // add a new SwaggerClient.ApiKeyAuthorization when the api-key changes in the ui.
    $('#input_apiKey').change(function() {
      var key = $('#input_apiKey')[0].value;
      if(key && key.trim() != "") {
        window.swaggerUi.api.clientAuthorizations.add("key", new window.SwaggerClient.ApiKeyAuthorization("api_key", key, "query"));
      }
    });

  });
  </script>