
<!-- Navigation -->
<nav class="navbar navbar-default navbar-fixed-top topnav" role="navigation">
  <div class="container topnav">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
      </button>
      <a href="/" class="navbar-brand topnav" >
        <%= image_tag "verisoneye-logo-small.png", :style => 'margin-top: -12px;' %>
      </a>
    </div>
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right" style="font-weight: bold">
        <li>
            <a href="http://blog.versioneye.com/" target="versioneye_blog">Blog</a>
        </li>
        <li>
            <a href="/faq">FAQs</a>
        </li>
        <li>
          <a href="/pricing">Pricing</a>
        </li>
        <li style="font-weight: bold; font-size: 16px;">
          <form style="margin: 7px;" action="/signup" accept-charset="UTF-8" method="get"><input name="utf8" type="hidden" value="&#x2713;" />
            <button type="submit" class="btn btn-success" >Sign up</button>
          </form>
        </li>
        <li>
          <form style="margin: 7px 0 0 7px;" action="/signin" accept-charset="UTF-8" method="get"><input name="utf8" type="hidden" value="&#x2713;" />
            <button type="submit" class="btn btn-primary" >Sign in</button>
          </form>
        </li>
      </ul>
    </div>
  </div>
</nav>

<section class="container" >
  <div id='header' style="margin-top: 90px;" >
    <div class="swagger-ui-wrap" style="float: none;">
      <form id='api_selector'>
        <div class='input'><input class="form-control" placeholder="/api/v2/swagger_doc.json" id="input_baseUrl" name="baseUrl" type="text"/></div>
        <div class='input'><input class="form-control" placeholder="api_key" id="input_apiKey" name="apiKey" type="text"/></div>
        <div class='input'><a id="explore" class="btn btn-large btn-primary" href="#">Explore</a></div>
      </form>
    </div>
  </div>
  <br/>

  <div class="heading">
    <br/>
    <p>
      Use the VersionEye <strong>API</strong> (<em>Application Programming Interface</em>)
      for a deeper integration into your tool chain. Through the API you can integrat VersionEye
      into your Continuous Integration process and get notifications about your dependencies on
      each build. You can also use it to write Add-ons, mobile applications, desktop applications,
      gadgets or widgets.
    </p>
    <p>
      You can find your API key in the input field next to the <em>`Explore`</em> button.
      The API key is visible for authorized user only. If you're logged in and the API key is still
      missing then goto the your <a href="/settings/api">settings page</a> and generate a new one.
    </p>
  </div>

  <div id="message-bar" class="swagger-ui-wrap">
      &nbsp;
  </div>

  <div id="swagger-ui-container" class="swagger-ui-wrap">

  </div>

  <div style="padding-top: 25px;">
    <p>
      Here are some projects which are using the VersionEye API already:
      <ul style="padding-left: 30px;">
        <li style="padding-bottom: 10px; padding-top: 10px; border-bottom: 1px dotted gray;" >
          <a href="https://github.com/versioneye/versioneye_maven_plugin">Maven Plugin</a>:
          The VersionEye Maven Plugin resolves dependencies locally and can create/update a
          VersionEye project via the API. This is especially useful for bigger <a href="https://maven.apache.org/">Maven</a> projects
          with parent poms and reactor builds.
        </li>
        <li style="padding-bottom: 10px; padding-top: 10px; border-bottom: 1px dotted gray;" >
          <a href="https://github.com/versioneye/versioneye_sbt_plugin">SBT Plugin</a>:
          Just like the Maven Plugin, but for <a href="http://www.scala-sbt.org/">Scala SBT</a>. Written by <a href="https://twitter.com/mp911de">Mark Paluch</a>.
        </li>
        <li style="padding-bottom: 10px; padding-top: 10px; border-bottom: 1px dotted gray;" >
          <a href="https://github.com/stempler/gradle-versioneye-plugin">Gradle Plugin</a>:
          Just like the Maven Plugin, but for <a href="https://gradle.org/">Gradle</a>. Written by <a href="https://github.com/stempler">Simon Templer</a>.
        </li>
        <li style="padding-bottom: 10px; padding-top: 10px; border-bottom: 1px dotted gray;" >
          <a href="https://github.com/versioneye/veye">Ruby cmd tool</a>:
          A commandline tool to interarct with the API, implemented in Ruby. Developed by <a href="https://twitter.com/timgluz">Timo Sulg</a>.
        </li>
        <li style="padding-bottom: 10px; padding-top: 10px; border-bottom: 1px dotted gray;" >
          <a href="http://digitalkaoz.github.io/versioneye-php/">VersionEye-PHP</a>:
          A PHP wrapper around the VersionEye API, written by <a href="https://twitter.com/digitalkaoz">Robert Schönthal</a>.
        </li>
        <li style="padding-bottom: 10px; padding-top: 10px; border-bottom: 1px dotted gray;" >
          <a href="https://github.com/mattsches/VersionEyeBundle">VersionEyeBundle</a>:
          For the Symfonyprofiler, written by <a href="https://twitter.com/mattsches">Matthias Gutjahr</a>.
        </li>
        <li style="padding-bottom: 10px; padding-top: 10px; border-bottom: 1px dotted gray;" >
          <a href="https://github.com/ocramius/VersionEyeModule">VersionEyeModule</a>:
          Integration module for ZF2 by <a href="https://twitter.com/Ocramius">Marco Pivetta</a>.
        </li>
        <li style="padding-bottom: 10px; padding-top: 10px; border-bottom: 1px dotted gray;" >
          <a href="https://github.com/heyupdate/versioneye-slack">VersionEye-Slack</a>: VersionEye integration for <a href="https://slack.com/">Slack</a> by <a href="https://twitter.com/tompedals">Tom Graham</a>.
        </li>
        <li style="padding-bottom: 10px; padding-top: 10px; border-bottom: 1px dotted gray;" >
          <a href="https://github.com/versioneye/versioneye_update">VersionEye-Update</a>: A shell script to update existing VersionEye projects by <a href="https://twitter.com/RobertReiz">Robert Reiz</a>.
        </li>
        <li style="padding-bottom: 10px; padding-top: 10px; border-bottom: 1px dotted gray;" >
          <a href="https://github.com/versioneye/versioneye_license_check">VersionEye License Check</a>: A shell script which quickly check if the dependencies are violating the license whitelist on the server. By <a href="https://twitter.com/RobertReiz">Robert Reiz</a>.
        </li>
      </ul>
      </br>
      Do you have a cool project you would like to see on this page? Contact us on <a href="https://twitter.com/VersionEye">Twitter</a>.
    </p>
  </div>
</section>

<script src="/api/swagger_js/lib/jquery-1.8.0.min.js" type="text/javascript"></script>
<script src="/api/swagger_js/lib/jquery.slideto.min.js" type="text/javascript"></script>
<script src="/api/swagger_js/lib/jquery.wiggle.min.js" type="text/javascript"></script>
<script src="/api/swagger_js/lib/jquery.ba-bbq.min.js" type="text/javascript"></script>
<script src="/api/swagger_js/lib/underscore-min.js" type="text/javascript"></script>
<script src="/api/swagger_js/lib/handlebars-1.0.rc.1.js" type="text/javascript"></script>
<script src="/api/swagger_js/lib/backbone-min.js" type="text/javascript"></script>
<script src="/api/swagger_js/lib/highlight.7.3.pack.js" type="text/javascript"></script>
<script src="/api/swagger_js/lib/swagger.js" type="text/javascript"></script>
<script src="/api/swagger_js/swagger-ui.js" type="text/javascript"></script>

<script type="text/javascript">
    jQuery(function () {
        window.swaggerUi = new SwaggerUi({
          discoveryUrl: "<%= @api_url %>/swagger_doc.json",
            apiKey:"<%= @api_key %>",
            dom_id:"swagger-ui-container",
            supportHeaderParams: false,
            debug: false,
            supportedSubmitMethods: ['get', 'post', 'put', 'delete'],
            docExpansion: "list",
            onComplete: function(swaggerApi, swaggerUi){
              if(console) {
                    console.log("Loaded SwaggerUI")
              }
              $('pre code').each(function(i, e) {hljs.highlightBlock(e)});
            },
            onFailure: function(data) {
                if(console) {
                    console.log("Unable to Load SwaggerUI");
                    console.log(data);
                }
            }
        });

        window.swaggerUi.load();
    });
    $ == jQuery;
</script>
