---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/user
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - token hasghha88as7f7277181
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4979'
      X-Ratelimit-Reset:
      - '1424023283'
      Last-Modified:
      - Sun, 15 Feb 2015 17:11:45 GMT
      Etag:
      - '"a92971b41b5e1223a3556026985be3ee"'
      X-Oauth-Scopes:
      - repo, user:email
      X-Accepted-Oauth-Scopes:
      - ''
      X-Oauth-Client-Id:
      - 50fb47103b8a3f03b2cd
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: UTF-8
      string: '{"login":"veye1test","id":10449954,"avatar_url":"https://avatars.githubusercontent.com/u/10449954?v=3","gravatar_id":"","url":"https://api.github.com/users/veye1test","html_url":"https://github.com/veye1test","followers_url":"https://api.github.com/users/veye1test/followers","following_url":"https://api.github.com/users/veye1test/following{/other_user}","gists_url":"https://api.github.com/users/veye1test/gists{/gist_id}","starred_url":"https://api.github.com/users/veye1test/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/veye1test/subscriptions","organizations_url":"https://api.github.com/users/veye1test/orgs","repos_url":"https://api.github.com/users/veye1test/repos","events_url":"https://api.github.com/users/veye1test/events{/privacy}","received_events_url":"https://api.github.com/users/veye1test/received_events","type":"User","site_admin":false,"public_repos":1,"public_gists":0,"followers":0,"following":0,"created_at":"2015-01-08T13:14:33Z","updated_at":"2015-02-15T17:11:45Z"}'
  recorded_at: Sun, 15 Feb 2015 17:24:06 GMT
- request:
    method: get
    uri: https://api.github.com/user/orgs?access_token=hasghha88as7f7277181
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - token hasghha88as7f7277181
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4978'
      X-Ratelimit-Reset:
      - '1424023283'
      Etag:
      - '"d6af202737bd9213f4669ba1c7fe3a91"'
      X-Oauth-Scopes:
      - repo, user:email
      X-Accepted-Oauth-Scopes:
      - admin:org, read:org, repo, user, write:org
      X-Oauth-Client-Id:
      - 50fb47103b8a3f03b2cd
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: UTF-8
      string: "[]"
  recorded_at: Sun, 15 Feb 2015 17:24:07 GMT
[...]
- request:
    method: get
    uri: https://api.github.com/user/repos?access_token=hasghha88as7f7277181&page=1&per_page=30
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - token hasghha88as7f7277181
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4976'
      X-Ratelimit-Reset:
      - '1424023283'
      Etag:
      - '"208c6c7099fe7dae4b8548e0d5d432a5"'
      X-Oauth-Scopes:
      - repo, user:email
      X-Accepted-Oauth-Scopes:
      - ''
      X-Oauth-Client-Id:
      - 50fb47103b8a3f03b2cd
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: UTF-8
      string: '[{"id":30834526,"name":"docker_web_ui","full_name":"veye1test/docker_web_ui","owner":{"login":"veye1test","id":10449954,"avatar_url":"https://avatars.githubusercontent.com/u/10449954?v=3","gravatar_id":"","url":"https://api.github.com/users/veye1test","html_url":"https://github.com/veye1test","followers_url":"https://api.github.com/users/veye1test/followers","following_url":"https://api.github.com/users/veye1test/following{/other_user}","gists_url":"https://api.github.com/users/veye1test/gists{/gist_id}","starred_url":"https://api.github.com/users/veye1test/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/veye1test/subscriptions","organizations_url":"https://api.github.com/users/veye1test/orgs","repos_url":"https://api.github.com/users/veye1test/repos","events_url":"https://api.github.com/users/veye1test/events{/privacy}","received_events_url":"https://api.github.com/users/veye1test/received_events","type":"User","site_admin":false},"private":false,"html_url":"https://github.com/veye1test/docker_web_ui","description":"Web
        Interface for the Docker Remote API","fork":true,"url":"https://api.github.com/repos/veye1test/docker_web_ui","forks_url":"https://api.github.com/repos/veye1test/docker_web_ui/forks","keys_url":"https://api.github.com/repos/veye1test/docker_web_ui/keys{/key_id}","collaborators_url":"https://api.github.com/repos/veye1test/docker_web_ui/collaborators{/collaborator}","teams_url":"https://api.github.com/repos/veye1test/docker_web_ui/teams","hooks_url":"https://api.github.com/repos/veye1test/docker_web_ui/hooks","issue_events_url":"https://api.github.com/repos/veye1test/docker_web_ui/issues/events{/number}","events_url":"https://api.github.com/repos/veye1test/docker_web_ui/events","assignees_url":"https://api.github.com/repos/veye1test/docker_web_ui/assignees{/user}","branches_url":"https://api.github.com/repos/veye1test/docker_web_ui/branches{/branch}","tags_url":"https://api.github.com/repos/veye1test/docker_web_ui/tags","blobs_url":"https://api.github.com/repos/veye1test/docker_web_ui/git/blobs{/sha}","git_tags_url":"https://api.github.com/repos/veye1test/docker_web_ui/git/tags{/sha}","git_refs_url":"https://api.github.com/repos/veye1test/docker_web_ui/git/refs{/sha}","trees_url":"https://api.github.com/repos/veye1test/docker_web_ui/git/trees{/sha}","statuses_url":"https://api.github.com/repos/veye1test/docker_web_ui/statuses/{sha}","languages_url":"https://api.github.com/repos/veye1test/docker_web_ui/languages","stargazers_url":"https://api.github.com/repos/veye1test/docker_web_ui/stargazers","contributors_url":"https://api.github.com/repos/veye1test/docker_web_ui/contributors","subscribers_url":"https://api.github.com/repos/veye1test/docker_web_ui/subscribers","subscription_url":"https://api.github.com/repos/veye1test/docker_web_ui/subscription","commits_url":"https://api.github.com/repos/veye1test/docker_web_ui/commits{/sha}","git_commits_url":"https://api.github.com/repos/veye1test/docker_web_ui/git/commits{/sha}","comments_url":"https://api.github.com/repos/veye1test/docker_web_ui/comments{/number}","issue_comment_url":"https://api.github.com/repos/veye1test/docker_web_ui/issues/comments/{number}","contents_url":"https://api.github.com/repos/veye1test/docker_web_ui/contents/{+path}","compare_url":"https://api.github.com/repos/veye1test/docker_web_ui/compare/{base}...{head}","merges_url":"https://api.github.com/repos/veye1test/docker_web_ui/merges","archive_url":"https://api.github.com/repos/veye1test/docker_web_ui/{archive_format}{/ref}","downloads_url":"https://api.github.com/repos/veye1test/docker_web_ui/downloads","issues_url":"https://api.github.com/repos/veye1test/docker_web_ui/issues{/number}","pulls_url":"https://api.github.com/repos/veye1test/docker_web_ui/pulls{/number}","milestones_url":"https://api.github.com/repos/veye1test/docker_web_ui/milestones{/number}","notifications_url":"https://api.github.com/repos/veye1test/docker_web_ui/notifications{?since,all,participating}","labels_url":"https://api.github.com/repos/veye1test/docker_web_ui/labels{/name}","releases_url":"https://api.github.com/repos/veye1test/docker_web_ui/releases{/id}","created_at":"2015-02-15T17:11:44Z","updated_at":"2015-02-15T17:11:45Z","pushed_at":"2014-12-23T20:17:26Z","git_url":"git://github.com/veye1test/docker_web_ui.git","ssh_url":"git@github.com:veye1test/docker_web_ui.git","clone_url":"https://github.com/veye1test/docker_web_ui.git","svn_url":"https://github.com/veye1test/docker_web_ui","homepage":null,"size":290,"stargazers_count":0,"watchers_count":0,"language":"Ruby","has_issues":false,"has_downloads":true,"has_wiki":true,"has_pages":false,"forks_count":0,"mirror_url":null,"open_issues_count":0,"forks":0,"open_issues":0,"watchers":0,"default_branch":"master","permissions":{"admin":true,"push":true,"pull":true}}]'
  recorded_at: Sun, 15 Feb 2015 17:24:08 GMT
[...]
