---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/user/orgs?access_token=de5da86828d0049bc293c
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '47'
      X-Ratelimit-Reset:
      - '1442601300'
      Etag:
      - '"0f87d1ebedaaaf15efe42ca6d39d157f"'
      X-Oauth-Scopes:
      - repo, user:email
      X-Accepted-Oauth-Scopes:
      - admin:org, read:org, repo, user, write:org
      X-Oauth-Client-Id:
      - 50fb47103b8a3f03b2cd
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: UTF-8
      string: '[{"login":"versioneye","id":3974102,"url":"https://api.github.com/orgs/versioneye","repos_url":"https://api.github.com/orgs/versioneye/repos","events_url":"https://api.github.com/orgs/versioneye/events","members_url":"https://api.github.com/orgs/versioneye/members{/member}","public_members_url":"https://api.github.com/orgs/versioneye/public_members{/member}","avatar_url":"https://avatars.githubusercontent.com/u/3974102?v=3","description":"Notification
        System for Software Libraries"}]'
  recorded_at: Fri, 18 Sep 2015 18:28:01 GMT
- request:
    method: get
    uri: https://api.github.com/user
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token de5da86828d0049bc293c
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '46'
      X-Ratelimit-Reset:
      - '1442601300'
      Last-Modified:
      - Fri, 18 Sep 2015 14:16:56 GMT
      Etag:
      - W/"72faa0896e3fefb724de97545b270ce5"
      X-Oauth-Scopes:
      - repo, user:email
      X-Accepted-Oauth-Scopes:
      - ''
      X-Oauth-Client-Id:
      - 50fb47103b8a3f03b2cd
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: ASCII-8BIT
      string: '{"login":"veye","id":171717,"avatar_url":"https://avatars.githubusercontent.com/u/171717?v=3","gravatar_id":"","url":"https://api.github.com/users/veye","html_url":"https://github.com/veye","followers_url":"https://api.github.com/users/veye/followers","following_url":"https://api.github.com/users/veye/following{/other_user}","gists_url":"https://api.github.com/users/veye/gists{/gist_id}","starred_url":"https://api.github.com/users/veye/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/veye/subscriptions","organizations_url":"https://api.github.com/users/veye/orgs","repos_url":"https://api.github.com/users/veye/repos","events_url":"https://api.github.com/users/veye/events{/privacy}","received_events_url":"https://api.github.com/users/veye/received_events","type":"User","site_admin":false,"name":null,"company":null,"blog":null,"location":null,"email":null,"hireable":null,"bio":null,"public_repos":2,"public_gists":0,"followers":6,"following":1,"created_at":"2012-06-22T09:54:13Z","updated_at":"2015-09-18T14:16:56Z"}'
  recorded_at: Fri, 18 Sep 2015 18:28:02 GMT
- request:
    method: get
    uri: https://api.github.com/user/repos?access_token=de5da86828d0049bc293c&page=1&per_page=30
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '45'
      X-Ratelimit-Reset:
      - '1442601300'
      Etag:
      - '"1c780c5fb3341914cf6194dfe04140c9"'
      X-Oauth-Scopes:
      - repo, user:email
      X-Accepted-Oauth-Scopes:
      - ''
      X-Oauth-Client-Id:
      - 50fb47103b8a3f03b2cd
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: UTF-8
      string: '[{"id":16202161,"name":"backbone","full_name":"versioneye/backbone","owner":{"login":"versioneye","id":3974102,"avatar_url":"https://avatars.githubusercontent.com/u/3974102?v=3","gravatar_id":"","url":"https://api.github.com/users/versioneye","html_url":"https://github.com/versioneye","followers_url":"https://api.github.com/users/versioneye/followers","following_url":"https://api.github.com/users/versioneye/following{/other_user}","gists_url":"https://api.github.com/users/versioneye/gists{/gist_id}","starred_url":"https://api.github.com/users/versioneye/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/versioneye/subscriptions","organizations_url":"https://api.github.com/users/versioneye/orgs","repos_url":"https://api.github.com/users/versioneye/repos","events_url":"https://api.github.com/users/versioneye/events{/privacy}","received_events_url":"https://api.github.com/users/versioneye/received_events","type":"Organization","site_admin":false},"private":false,"html_url":"https://github.com/versioneye/backbone","description":"Give
        your JS App some Backbone with Models, Views, Collections, and Events","fork":true,"url":"https://api.github.com/repos/versioneye/backbone","forks_url":"https://api.github.com/repos/versioneye/backbone/forks","keys_url":"https://api.github.com/repos/versioneye/backbone/keys{/key_id}","collaborators_url":"https://api.github.com/repos/versioneye/backbone/collaborators{/collaborator}","teams_url":"https://api.github.com/repos/versioneye/backbone/teams","hooks_url":"https://api.github.com/repos/versioneye/backbone/hooks","issue_events_url":"https://api.github.com/repos/versioneye/backbone/issues/events{/number}","events_url":"https://api.github.com/repos/versioneye/backbone/events","assignees_url":"https://api.github.com/repos/versioneye/backbone/assignees{/user}","branches_url":"https://api.github.com/repos/versioneye/backbone/branches{/branch}","tags_url":"https://api.github.com/repos/versioneye/backbone/tags","blobs_url":"https://api.github.com/repos/versioneye/backbone/git/blobs{/sha}","git_tags_url":"https://api.github.com/repos/versioneye/backbone/git/tags{/sha}","git_refs_url":"https://api.github.com/repos/versioneye/backbone/git/refs{/sha}","trees_url":"https://api.github.com/repos/versioneye/backbone/git/trees{/sha}","statuses_url":"https://api.github.com/repos/versioneye/backbone/statuses/{sha}","languages_url":"https://api.github.com/repos/versioneye/backbone/languages","stargazers_url":"https://api.github.com/repos/versioneye/backbone/stargazers","contributors_url":"https://api.github.com/repos/versioneye/backbone/contributors","subscribers_url":"https://api.github.com/repos/versioneye/backbone/subscribers","subscription_url":"https://api.github.com/repos/versioneye/backbone/subscription","commits_url":"https://api.github.com/repos/versioneye/backbone/commits{/sha}","git_commits_url":"https://api.github.com/repos/versioneye/backbone/git/commits{/sha}","comments_url":"https://api.github.com/repos/versioneye/backbone/comments{/number}","issue_comment_url":"https://api.github.com/repos/versioneye/backbone/issues/comments{/number}","contents_url":"https://api.github.com/repos/versioneye/backbone/contents/{+path}","compare_url":"https://api.github.com/repos/versioneye/backbone/compare/{base}...{head}","merges_url":"https://api.github.com/repos/versioneye/backbone/merges","archive_url":"https://api.github.com/repos/versioneye/backbone/{archive_format}{/ref}","downloads_url":"https://api.github.com/repos/versioneye/backbone/downloads","issues_url":"https://api.github.com/repos/versioneye/backbone/issues{/number}","pulls_url":"https://api.github.com/repos/versioneye/backbone/pulls{/number}","milestones_url":"https://api.github.com/repos/versioneye/backbone/milestones{/number}","notifications_url":"https://api.github.com/repos/versioneye/backbone/notifications{?since,all,participating}","labels_url":"https://api.github.com/repos/versioneye/backbone/labels{/name}","releases_url":"https://api.github.com/repos/versioneye/backbone/releases{/id}","created_at":"2014-01-24T11:00:12Z","updated_at":"2014-01-24T11:00:15Z","pushed_at":"2014-01-16T15:45:05Z","git_url":"git://github.com/versioneye/backbone.git","ssh_url":"git@github.com:versioneye/backbone.git","clone_url":"https://github.com/versioneye/backbone.git","svn_url":"https://github.com/versioneye/backbone","homepage":"http://backbonejs.org","size":54693,"stargazers_count":0,"watchers_count":0,"language":"JavaScript","has_issues":false,"has_downloads":true,"has_wiki":true,"has_pages":true,"forks_count":0,"mirror_url":null,"open_issues_count":0,"forks":0,"open_issues":0,"watchers":0,"default_branch":"master","permissions":{"admin":true,"push":true,"pull":true}},{"id":16433994,"name":"Chart.js","full_name":"versioneye/Chart.js","owner":{"login":"versioneye","id":3974102,"avatar_url":"https://avatars.githubusercontent.com/u/3974102?v=3","gravatar_id":"","url":"https://api.github.com/users/versioneye","html_url":"https://github.com/versioneye","followers_url":"https://api.github.com/users/versioneye/followers","following_url":"https://api.github.com/users/versioneye/following{/other_user}","gists_url":"https://api.github.com/users/versioneye/gists{/gist_id}","starred_url":"https://api.github.com/users/versioneye/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/versioneye/subscriptions","organizations_url":"https://api.github.com/users/versioneye/orgs","repos_url":"https://api.github.com/users/versioneye/repos","events_url":"https://api.github.com/users/versioneye/events{/privacy}","received_events_url":"https://api.github.com/users/versioneye/received_events","type":"Organization","site_admin":false},"private":false,"html_url":"https://github.com/versioneye/Chart.js","description":"Simple
        HTML5 Charts using the <canvas> tag","fork":true,"url":"https://api.github.com/repos/versioneye/Chart.js","forks_url":"https://api.github.com/repos/versioneye/Chart.js/forks","keys_url":"https://api.github.com/repos/versioneye/Chart.js/keys{/key_id}","collaborators_url":"https://api.github.com/repos/versioneye/Chart.js/collaborators{/collaborator}","teams_url":"https://api.github.com/repos/versioneye/Chart.js/teams","hooks_url":"https://api.github.com/repos/versioneye/Chart.js/hooks","issue_events_url":"https://api.github.com[...]
[...]
- request:
    method: get
    uri: https://api.github.com/orgs/versioneye/repos?access_token=de5da86828d0049bc293c&page=1&per_page=30
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '43'
      X-Ratelimit-Reset:
      - '1442601300'
      Etag:
[...]
- request:
    method: get
    uri: https://api.github.com/repos/versioneye/test_repo?access_token=de5da86828d0049bc293c
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '42'
      X-Ratelimit-Reset:
      - '1442601300'
      Last-Modified:
     [...]
- request:
    method: get
    uri: https://api.github.com/repos/versioneye/test_repo/branches/master
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - token de5da86828d0049bc293c
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '41'
      X-Ratelimit-Reset:
      - '1442601300'
      Etag:
      - '"e5f48f851366d7a602e9e70859a14a55"'
      X-Oauth-Scopes:
      - repo, user:email
      X-Accepted-Oauth-Scopes:
      - ''
      X-Oauth-Client-Id:
      - 50fb47103b8a3f03b2cd
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: UTF-8
      string: '{"name":"master","commit":{"sha":"c17ad83ac2a6473bed57803d8ee8e6e53c2b14c4","commit":{"author":{"name":"reiz","email":"robert.reiz.81@gmail.com","date":"2015-09-18T13:37:25Z"},"committer":{"name":"reiz","email":"robert.reiz.81@gmail.com","date":"2015-09-18T13:37:25Z"},"message":"Add
        empty Gemfile","tree":{"sha":"50decab8dcfb8cb7bd724946e5928ebf2fedc503","url":"https://api.github.com/repos/versioneye/test_repo/git/trees/50decab8dcfb8cb7bd724946e5928ebf2fedc503"},"url":"https://api.github.com/repos/versioneye/test_repo/git/commits/c17ad83ac2a6473bed57803d8ee8e6e53c2b14c4","comment_count":0},"url":"https://api.github.com/repos/versioneye/test_repo/commits/c17ad83ac2a6473bed57803d8ee8e6e53c2b14c4","html_url":"https://github.com/versioneye/test_repo/commit/c17ad83ac2a6473bed57803d8ee8e6e53c2b14c4","comments_url":"https://api.github.com/repos/versioneye/test_repo/commits/c17ad83ac2a6473bed57803d8ee8e6e53c2b14c4/comments","author":{"login":"reiz","id":652130,"avatar_url":"https://avatars.githubusercontent.com/u/652130?v=3","gravatar_id":"","url":"https://api.github.com/users/reiz","h[...]
- request:
    method: get
    uri: https://api.github.com/repos/versioneye/test_repo/git/trees/c17ad83ac2a6473bed57803d8ee8e6e53c2b14c4?recursive=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - token de5da86828d0049bc293c
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '40'
      X-Ratelimit-Reset:
      - '1442601300'
      Last-Modified:
      - Fri, 18 Sep 2015 13:37:34 GMT
      Etag:
      - '"557a2ad5460dea3960e84b65e293bb5a"'
      X-Oauth-Scopes:
      - repo, user:email
      X-Accepted-Oauth-Scopes:
      - ''
      X-Oauth-Client-Id:
      - 50fb47103b8a3f03b2cd
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: UTF-8
      string: '{"sha":"c17ad83ac2a6473bed57803d8ee8e6e53c2b14c4","url":"https://api.github.com/repos/versioneye/test_repo/git/trees/c17ad83ac2a6473bed57803d8ee8e6e53c2b14c4","tree":[{"path":"Gemfile","mode":"100644","type":"blob","sha":"7e775a89bbadbada2fcf6727fb5117e8e5e98043","size":30,"url":"https://api.github.com/repos/versioneye/test_repo/git/blobs/7e775a89bbadbada2fcf6727fb5117e8e5e98043"}],"truncated":false}'
  recorded_at: Fri, 18 Sep 2015 18:28:12 GMT
- request:
    method: get
    uri: https://api.github.com/repos/versioneye/test_repo/git/blobs/7e775a89bbadbada2fcf6727fb5117e8e5e98043
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - token de5da86828d0049bc293c
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '39'
      X-Ratelimit-Reset:
      - '1442601300'
      Etag:
      - '"aaf276c7fd23d61eacdf7e6acf0aefbc"'
      X-Oauth-Scopes:
      - repo, user:email
      X-Accepted-Oauth-Scopes:
      - ''
      X-Oauth-Client-Id:
      - 50fb47103b8a3f03b2cd
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: UTF-8
      string: '{"sha":"7e775a89bbadbada2fcf6727fb5117e8e5e98043","size":30,"url":"https://api.github.com/repos/versioneye/test_repo/git/blobs/7e775a89bbadbada2fcf6727fb5117e8e5e98043","content":"c291cmNlICdodHRwOi8vcnVieWdlbXMub3JnJwoK\n","encoding":"base64"}'
  recorded_at: Fri, 18 Sep 2015 18:28:12 GMT
- request:
    method: get
    uri: https://api.github.com/repos/veye1test/docker_web_ui/branches/master
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - token hasghha88as7f7277181
  response:
    status:
      code: 401
      message: Unauthorized
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 401 Unauthorized
      X-Github-Media-Type:
      - github.v3; format=json
      X-Ratelimit-Limit:
      - '60'
      X-Ratelimit-Remaining:
      - '57'
      X-Ratelimit-Reset:
      - '1442602458'
    body:
      encoding: UTF-8
      string: '{"message":"Bad credentials","documentation_url":"https://developer.github.com/v3"}'
  recorded_at: Fri, 18 Sep 2015 18:33:12 GMT
[...]
- request:
    method: get
    uri: https://api.github.com/repos/veye1test/docker_web_ui/branches/master
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - token hasghha88as7f7277181
  response:
    status:
      code: 401
      message: Unauthorized
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 401 Unauthorized
      X-Github-Media-Type:
      - github.v3; format=json
      X-Ratelimit-Limit:
      - '60'
      X-Ratelimit-Remaining:
      - '56'
      X-Ratelimit-Reset:
      - '1456181174'
    body:
      encoding: UTF-8
      string: '{"message":"Bad credentials","documentation_url":"https://developer.github.com/v3"}'
  recorded_at: Mon, 22 Feb 2016 22:15:54 GMT
recorded_with: VCR 3.0.1
