<footer class="container footer" >

  <div class="container row footer_link_row_1" >
    <a href="/about" >About</a> |
    <a href="http://blog.versioneye.com/" target="versioneye_blog">VersionEye Blog</a> |
    <a href="https://bitbucket.org/versioneye/versioneye/issues" id="feedback_footer" target="issue_tracker_73" >Feedback</a> |
    <a href="/api" >API</a>
  </div>

  <div class="container row footer_link_row_3" >
    <a href="/imprint">Imprint</a> |
    <a href="/terms">Conditions of Use</a> |
    <a href="/dataprivacy">Data protection provisions</a> |
    <a href="/enterprise_agreements">Enterprise Agreements</a> |
    <a href="/disclaimer">Disclaimer</a> |
  </div>

</footer>
