<footer class="container footer" >

  <div class="container row footer_link_row_1" >
    <a href="https://www.versioneye.com/about">About</a> |
    <a href="http://blog.versioneye.com/" target="versioneye_blog">Blog</a>
  </div>

  <div class="container row footer_social_media_row" >
    <a href="https://twitter.com/VersionEye" class="footer_link_margin" target="new_Twitter" title="Twitter" ><i class="icon-twitter footer_social_icon" ></i></a>

    <a href="https://www.facebook.com/VersionEye" class="footer_link_margin" target="new_FB" title="Facebook" ><i class="icon-facebook footer_social_icon" ></i></a>

    <a href="https://plus.google.com/+Versioneye/posts" class="footer_link_margin" target="new_GP" title="Google+" ><i class="icon-google-plus footer_social_icon" ></i></a>

    <a href="https://www.youtube.com/user/VersionEye/videos" class="footer_link_margin" title="YouTube" target="new_YT" ><i class="icon-youtube footer_social_icon" ></i></a>

    <a href="http://pinterest.com/versioneye/pins/" class="footer_link_margin" target="new_Pinterest" title="Pinterest" ><i class="icon-pinterest footer_social_icon" ></i></a>
  </div>

</footer>
