<header>
  <div class="navbar navbar-fixed-top">
    <div class = "container row" >

      <div class="span4 main_logo" >
        <div class="pull-left l_margin_top_15" style="margin-top: 17px;" >
          <a href="https://www.versioneye.com" ><%= image_tag "logos/versioneye-transparent.png" %></a>
        </div>
      </div>

    </div>
  </div>
</header>
